[Unit]
Description=Hue Persistence
After=syslog.target network.target

[Service]
ExecStart=/usr/local/sbin/hue_persistence username
StandardOutput=null

[Install]
WantedBy=multi-user.target
