[Unit]
Description=Hue Storage
After=syslog.target network.target

[Service]
ExecStart=/usr/local/sbin/hue_storage username
StandardOutput=null

[Install]
WantedBy=multi-user.target
